.stats-screen__stat-container {
    width: 600px;
    align-self: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 22px;
    background-image: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

.stats-screen__icon {
    width: 100px;
    height: 100px;
}

.stats-screen__icon-undiscovered {
    -unity-background-image-tint-color: rgb(38, 38, 38);
}

.stats-screen__minions-killed-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__creatures-killed-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__tiles-unlocked-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__vases-broken-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__coins-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__hammers-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__horseshoes-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__bags-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__skulls-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__friend-balls-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__common-exp-stones-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__uncommon-exp-stones-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__rare-exp-stones-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__epic-exp-stones-collected-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}

.stats-screen__friend-balls-thrown-icon {
    background-image: url("project://database/Assets/Plugins/Medival%20Kingdom%20Package/UI_icons/Colored/15_army.png?fileID=2800000&guid=ff7b81c35285dba44a3ef98c56d9b31f&type=3#15_army");
}
