.item-selector-element__main {
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-top: 4px;

}

.item-selector-element__even {
    background-color: var(--color-metal-primary);
}

.item-selector-element__odd {
    background-color: var(--color-metal-secondary);
}
