.item-selector-container__main {
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}

.item-selector-container__even {
    background-color: var(--color-highlight-dark1);
}

.item-selector-container__odd {
    background-color: var(--color-highlight-dark2);
}
