.battle-result-hero__main {
    width: 80%;
    height: 100%;
    justify-content: flex-start;
}

.battle-result-hero__show-container {
    flex-grow: 1;
    align-items: center;
}

.battle-result-hero__pickups-container {
    align-items: center;
}


.battle-result-hero__card-container {
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.battle-result-hero__defeated-entities-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.battle-result-hero__score-container {
    flex-direction: Row;
    justify-content: Center;
    align-items: Center;
}

.battle-result-hero__give-pickups-button {
    font-size: 24px;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/Classic_Skin/Buttons_C/Button_little.png?fileID=2800000&guid=7d3b047def79cf4429819bd8e157dbe6&type=3#Button_little');
}