.battle-entity__main {
    flex-direction: row;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/Settings_elements/paper_top_1.png?fileID=2800000&guid=4913489a90f0118448f22bd7ae275e84&type=3#paper_top_1');
}