.reward-exp-container__main {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.reward-exp-container__card-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.reward-exp-container__defeated-entities-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
}