.army-evolution__main {
    align-items: center;
}

.army-evolution__name {
    font-size: 32px;
    max-width: 300px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
}