.army-slot__main {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.army-slot__main:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    opacity: 1;
}