.army-evolution__main {
    align-items: center;
}

.army-evolution__name {
    font-size: 32px;
    max-width: 300px;
    -unity-text-align: middle-center;
    padding-left: 10px;
    padding-right: 10px;
    white-space: normal;
}

.army-evolution__ability-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}