.entity-element__main {
    flex-direction: row;

}

.entity-element__element {
    position: absolute;
    bottom: 0;
    left: -20px;
}

.entity-element__name {
    font-size: 24;
    font-weight: bold;
}