.quest-report__timer-element-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: none;
}

.quest-report__timer-element-line {
    margin-right: 10px;
    height: 100%;
    width: 100%;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/White_gold_Skin/UI_elements_W/Energy_line.png?fileID=2800000&guid=6bdb545387cd94d4fbf1ff49e5f54eea&type=3#Energy_line');
}

.quest-report__timer-element-line-mask {
    height: 100%;
    width: 0;
    position: absolute;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/White_gold_Skin/UI_elements_W/long_shadow.png?fileID=2800000&guid=b764c73bf47635548a80bafe4627b037&type=3#long_shadow');
}

.quest-report__timer-element-line-delegated {
    margin-right: 10px;
    height: 100%;
    width: 100%;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/White_gold_Skin/UI_elements_W/MP_line.png?fileID=2800000&guid=1c665beb0a9eeea4ab079a1eea6ad404&type=3#MP_line');
}

.quest-report__timer-element-line-mask-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
}
