.quest-element__main {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.quest-element__top-panel-container {
    align-items: center;
    justify-content: space-around;
}

.quest-element__overlay {
    position: absolute;
    width: 105%;
    height: 105%;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 35, 35, 0.47);
}

.quest-element__action-button {
    min-width: 200px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/Classic_Skin/Buttons_C/Button_middle.png?fileID=2800000&guid=7624455960081ed449991cbf052c3326&type=3#Button_middle');
    -unity-text-align: middle-center;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.quest-element__action-button-pending {
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/Classic_Skin/Buttons_C/Button_middle_Fr.png?fileID=2800000&guid=fdda5932bb1aeeb408f9c5c348b9e019&type=3#Button_middle_Fr');
    color: rgb(255, 255, 255);
}

.quest-element__action-button-finished {
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/Classic_Skin/Buttons_C/Button_middle_dark.png?fileID=2800000&guid=c039ccb2fde35a74d82b4dc33146410d&type=3#Button_middle_dark');
    color: rgb(255, 255, 255);
}

.quest-element__action-button-player {
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/White_gold_Skin/Buttons_W/Button_middle.png?fileID=2800000&guid=ae2a146511765114faf9818658b957d6&type=3#Button_middle');
    color: rgb(255, 255, 255);
}

.quest-element__action-button-delegate {
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/Classic_Skin/Buttons_C/Button_middle.png?fileID=2800000&guid=7624455960081ed449991cbf052c3326&type=3#Button_middle');
    color: rgb(255, 255, 255);
}

.quest-element__action-button:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    scale: 1.1 1.1;
}

.quest-element__action-button:active {
    scale: 0.95 0.95;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.quest-element__timer-element-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: none;
}

.quest-element__timer-element-line {
    margin-right: 10px;
    height: 100%;
    width: 100%;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/White_gold_Skin/UI_elements_W/Energy_line.png?fileID=2800000&guid=6bdb545387cd94d4fbf1ff49e5f54eea&type=3#Energy_line');
}

.quest-element__timer-element-line-mask {
    height: 100%;
    width: 0;
    position: absolute;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/White_gold_Skin/UI_elements_W/long_shadow.png?fileID=2800000&guid=b764c73bf47635548a80bafe4627b037&type=3#long_shadow');
}

.quest-element__timer-element-line-delegated {
    margin-right: 10px;
    height: 100%;
    width: 100%;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/White_gold_Skin/UI_elements_W/MP_line.png?fileID=2800000&guid=1c665beb0a9eeea4ab079a1eea6ad404&type=3#MP_line');
}

.quest-element__timer-element-line-mask-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
}
