.raise-request-report__negotiate-button {
    min-width: 100px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/Classic_Skin/Buttons_C/Button_middle.png?fileID=2800000&guid=7624455960081ed449991cbf052c3326&type=3#Button_middle');
    -unity-text-align: middle-center;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.raise-request-report__negotiate-button {
    background-image: url('project://database/Assets/Plugins/Medival%20Kingdom%20Package/Classic_Skin/Buttons_C/Button_middle.png?fileID=2800000&guid=7624455960081ed449991cbf052c3326&type=3#Button_middle');
    color: rgb(255, 255, 255);
}

.raise-request-report__negotiate-button:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    scale: 1.1 1.1;
}

.raise-request-report__negotiate-button:active {
    scale: 0.95 0.95;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}