.reward-container__main {
    flex-direction: row;
    align-items: center;
    scale: 1 1;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
}