.spice-element__main {
    flex-direction: row;
    align-items: center;
    scale: 1 1;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    min-width: 100px;
}

.spice-element__icon {
    position: relative;
    width: 50px;
    height: 50px;
}

.spice-element__value {
    -unity-text-align: middle-center;
    height: 50px;
    width: 25px;
}