.storey-upgrade-tree__title {
    -unity-text-align: middle-center;
    font-size: 36px;
    white-space: normal;
}

.storey-upgrade-tree__main {
    flex-direction: row;
}

.storey-upgrade-tree__arrow-label {
    -unity-text-align: middle-center;
}