.character-card-mini__main{
}

.character-card-mini__overlay{
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}