.stat-element__main {
    margin-left: 12px;
    margin-right: 12px;
}

.stat-element__icon {
    font-size: 18px;
    color: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
}

.stat-element__value {
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-image: none;
    width: 32px;
    height: 32px;
    -unity-text-outline-width: 0;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    -unity-text-align: middle-center;
}