.barracks-nature-upgrade-element__main {
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-color: var(--color-highlight);
    margin-left: 12px;
    margin-right: 12px;
    padding: 12px;
}

.barracks-nature-upgrade-element__pawn-locked {
    border-width: 2px;
    border-color: var(--color-highlight-dark);
}

.barracks-nature-upgrade-element__pawn-unlocked {
    border-width: 2px;
    border-color: var(--color-highlight-light);
}

