.hero-selector-info__main {
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.hero-selector-info__name-container {
    align-items: center;
}

.hero-selector-info__name {
    font-size: 48px;
}